doctype html
html
  head
    title Social Sort Filter
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/table/bootstrap-table.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/jquery")
    script(src="/bootstrap/js/bootstrap.min.js")
  body
    block content

    script(src="/jquery-cookie")
    script(src="/table/bootstrap-table.js")
