doctype html
html
  head
    title Trust Decision Study
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/table/bootstrap-table.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/jquery")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/jquery-cookie")
    script(src="/table/bootstrap-table.js")
  body()
    block content

