extends layout

//- Main content
block content
	div#welcome
		h1=name
		p=body
		p Please evaluate the following 16 emails and decide whether they are attempts at Phishing or not.

		button#start(onclick="continueStudy();") 5

		script(src="/javascripts/scenario.js")
