extends layout

block content
	div#welcome(style="overflow-y:auto;height:100%;position:absolute;left:0;right:0;bottom:0;top:0;padding-bottom:50px")
		h1 Welcome!
		h3(style="margin-bottom:50px;") Instructions: Please read carefully

		div
			p Thank you for participating in this trust study.  This study includes two parts: the first part of the study will test your ability to <b>distinguish phishing emails from normal emails</b>, the second part of the study will test your ability to make decisions involving the unconditional trust of a stranger.
			p At the end of the study you may receive a bonus based upon your performance during the study. In the first part, you will receive a $0.50 bonus for each correctly identified email (as phishing or normal), while in the second part, your reaction to each situation will be similarly translated to a monetary bonus.  <b><u>MAYBE COME UP WITH A BETTER REWARD SYSTEM BASED ON PERFORMANCE</u></b>
			p In the first part of the study, you will be presented with two different scenarios.  Based upon these scenarios, you will be asked to identify six different emails (three for each scenario) as either an attempt at phishing or a normal email.  If you are unfamiliar with what "a phishing email is," please refer to <a href = "https://www.consumer.ftc.gov/articles/0003-phishing"><u>this quick introduction</u></a> for more information and examples of phishing emails.  You will have 45 seconds to make your decision.  <b>The emails will includes hyperlinks.  If clicked on, they will NOT redirect the page</b> but the target URL can be seen in the bottom left corner of the browser window</b>
			p In the second part of the study, you will be presented with three different "games" (the Prisoner's Dilema, the Ultimatum, and the Trust Game) which will simulate situations in which you must unconditionally trust a complete stranger.  Each game will be explained in further detail prior to the start of that portion of the study.  Again, your performance during each game will directly result in a monetary bonus.
			p(style="color:red") WARNING: Do not press the back button in your web browser or attempt to restart the study after pressing the Continue button below. Pressing the back button or restarting the study will invalidate all of your answers and you will not be eligible for your study reward. Furthermore, please keep your browser window fully maximized as the experiment is not meant to be run otherwise. Be sure you read the instructions above before beginning the study.   

		button#start(onclick="window.location='/survey'",style="margin-bottom:50px;") Start Study