extends layout

block content
	div#welcome(style="overflow-y:auto;height:100%;position:absolute;left:0;right:0;bottom:0;top:0;padding-bottom:50px")
		h1 Welcome!
		h3(style="margin-bottom:50px;") Instructions: Please read carefully

		div
			p Thank you for participating in this study.  

			p Phishing is when a scammer uses fraudulent emails or texts, or copycat websites to get you to share valuable personal information – such as account numbers, Social Security numbers, or your login IDs and passwords. Scammers use your information to steal your money or your identity or both. (source: ftc.gov)

			p During the study, you will be presented with one of two different scenarios. One in which you are an Apple customer, and another in which you are an NYU student. You will be shown 16 different emails. Your objective is to report if any of these emails is a phishing email. If you think that an email is an attempt at phishing, click on the "Report Phishing" button. If you do not think that the email is an attempt at phishing, click on the "Nothing to Report" button. 
			p Each round, you will have 30 seconds to make your decision.  <b>The emails will include hyperlinks.  If clicked on, they will NOT redirect the page</b> but the target URL can be seen in the bottom left corner of the browser window</b>
			p(style="color:red") WARNING: Do not press the back button in your web browser or attempt to restart the study after pressing the Continue button below. 
			p(style="color:red") Be sure you read the instructions above before beginning the study.   

		button#start(onclick="window.location='/survey'",style="margin-bottom:50px;") Start Study